<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Burgers</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/assets/javascript/script.js"></script>
</head>
<body>
    <div class="jumbotron" style="background-color: rgba(209,144,40,0.5)">
        <h1 class="text-center" style="background-color: rgba(133, 64, 32, 0.418)">Burgers</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 input-group">
                <input type="text" id="new-burger">
                <input type="submit" id="add-burger">
            </div>
        </div>
        <div class="row">
            {{{body}}}
        </div>
    </div>
    
</body>
</html>