<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 class="text-success text-center">Uneaten</h2>
            <ol class="list-group">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-group-item list-group-item-dark">
                    <span class="align-middle">{{burger_name}} </span>
                    <div class="btn btn-success float-right eat" data-eat={{id}}>Eat me!</div>
                </li>
                {{/unless}}
                {{/each}}
            </ol>
        </div>
        <div class="col-md-6">
            <h2 class="text-danger text-center">Eaten</h2>
            <ol class="list-group">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-group-item list-group-item-dark">
                    <span class="align-middle">{{burger_name}} </span>
                    <div class="btn btn-danger float-right delete" data-delete={{id}}>Delete me!</div>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </div>
    </div>
</div>